.logo{
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    padding: 20px;
}
*{
    padding: 0px;
    margin: 0px;
}
.upper-work{
    display: flex;
background-color: black;
color: white;
height: 100px;
align-items: center;
justify-content: space-around;
}
.visit{
list-style: none;
display: flex;
}
.home{
    cursor: pointer;
    padding: 10px;
}
.home:hover{
    color: cornflowerblue;
}
.middle-work{
    display:flex ;
    height: 100vh;
    justify-content: space-around;
    align-items:center ;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    color: black;
    background-image: url('./istockphoto-1194212027-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.image{
    height: 200px;
    width: 200px;
}
.click{
    color: black;
    background-color: red;
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 2px;
}
.click:hover{
    color: grey
}
.second-img{
    height: 250px;
}
.head-container{
    text-decoration:underline;
   text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}
.aboutus-container{
    height: 65vh;
    background-color: white;
    display: flex;
    align-items: center;
justify-content: space-around;
font-family: 'Courier New', Courier, monospace;
}
.btn{
    padding: 20px;
    background-color: red;
    color: black;
    border: none;
    border-radius: 2px;
}
.same{
    margin: 100px;
    padding: 100px;
    height: 300px;
}
.box{
    height: 470px;
    width: 250px;
    background-color: rgb(15, 15, 15);
    color:white;
    border-radius: 2px;
    box-shadow: 4px 4px 5px grey;
}
.service-container{
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-image: url('./istockphoto-1194212027-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.hea{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.par{
    text-align: center;
    padding-bottom: 10px;
}
.tag{
    padding: 25px ;
}
.det{
    margin:20px 50px 10px 80px;
    padding-bottom: 20px;
}